<h1>PWA Testing</h1>

<main>
    <nav>
        <ul>
            <li>
                <a routerLink="./table" routerLinkActive="active" ariaCurrentWhenActive="page">Table</a>
                <button (click)="openInNewWindow('table-standalone')" style="padding-inline: 0.25em;" target="_blank"><i
                        class="ph ph-arrow-square-out"></i></button>
            </li>
            <li><a routerLink="./metrics" routerLinkActive="active" ariaCurrentWhenActive="page">Storage Metrics</a>
            </li>
        </ul>
    </nav>
</main>

<router-outlet></router-outlet>