<div class="nav-header">
    <h1>PWA Testing</h1>
    <nav>
        <ul>
            <li>
                <a routerLink="combined" routerLinkActive="active" ariaCurrentWhenActive="page">Combined</a>
            </li>
            <li>
                <a routerLink="visualization-standalone" routerLinkActive="active" ariaCurrentWhenActive="page">Visualization</a>
            </li>
            <li>
                <a routerLink="table-standalone" routerLinkActive="active" ariaCurrentWhenActive="page">Table</a>
            </li>
            <li>
                <button icon="ph ph-arrow-square-out" (click)="popOutTable('table-standalone')"></button>
            </li>
        </ul>
    </nav>
</div>
